q img{
    width: 100%;
    height: 700px;
    
   
}
header{
    background-color: black;
}

header ul  {
    position: absolute;
    top: 0px;
    left: 13px;
    color: white;
    background-color: black;
    padding: 10px 90px;
    width: 85%;
    /* border-radius: 30px; */
   
        }
        
        
        header ul li{
            display: inline-block;
            padding: 3px 10px;
            font-size: 20px;
            text-align: center;
           

        }
    header ul li a{
        color: white;
        text-decoration: none;
    }
        header ul li::after{
            content: '';
            width: 0%;
            height: 2px;
            background: #f5bab6;
            display: block;
            margin: auto;
            
            transition: 0.5s;
        }
    header ul li:hover::after{
        width: 100%;
        
    }
    .xl{
        text-align: center;
       
    }
    .xl h2 a{
        text-decoration:underline;
    }
    .cl h2,p{
        text-align: center;
       
    }
    .cl h2 a{
        text-decoration:underline;
    }
b img{
    padding: 0% 25%;
}
c img{
    padding: 0% 22.5%;
}
d img{
    padding: 0% 22.5%;
}
e img{
    padding: 0% 30%;
}
f img{
    padding: 0% 25%;
}
g img{
    padding: 0% 25%;
}
h img{
    padding: 0% 20%;
}
.zl h2,p{
    text-align: center;
}
.zl h2{
    text-decoration: underline;
}
.r h2{
    text-align: center;
    text-decoration: underline;
}



